[package]
name = "trezoa-msg"
description = "Trezoa msg macro."
documentation = "https://docs.rs/trezoa-msg"
version = "3.0.0"
authors = { workspace = true }
repository = { workspace = true }
homepage = { workspace = true }
license = { workspace = true }
edition = { workspace = true }

[package.metadata.docs.rs]
targets = ["x86_64-unknown-linux-gnu"]

[features]
default = ["std"]
alloc = []
std = ["alloc"]

[target.'cfg(target_os = "trezoa")'.dependencies]
trezoa-define-syscall = { workspace = true }

[lints]
workspace = true
