[package]
name = "trezoa-signer"
description = "Abstractions for Trezoa transaction signers. See `trezoa-keypair` for a concrete implementation."
documentation = "https://docs.rs/trezoa-signer"
version = "3.0.0"
rust-version = "1.81.0"
authors = { workspace = true }
repository = { workspace = true }
homepage = { workspace = true }
license = { workspace = true }
edition = { workspace = true }

[package.metadata.docs.rs]
targets = ["x86_64-unknown-linux-gnu"]
all-features = true
rustdoc-args = ["--cfg=docsrs"]

[dependencies]
trezoa-pubkey = { workspace = true }
trezoa-signature = { workspace = true }
trezoa-transaction-error = { workspace = true }
