[package]
name = "trezoa-sysvar-id"
description = "Definition for the sysvar id trait and associated macros."
documentation = "https://docs.rs/trezoa-sysvar-id"
version = "3.1.0"
authors = { workspace = true }
repository = { workspace = true }
homepage = { workspace = true }
license = { workspace = true }
edition = { workspace = true }

[package.metadata.docs.rs]
targets = ["x86_64-unknown-linux-gnu"]
all-features = true
rustdoc-args = ["--cfg=docsrs"]

[dependencies]
trezoa-address = { workspace = true, features = ["decode"] }
trezoa-sdk-ids = { workspace = true }

[lints]
workspace = true
