[package]
name = "trezoa-sdk-wasm-js-tests"
description = "Tests for using the Trezoa SDK Wasm JS crate"
documentation = "https://docs.rs/trezoa-system-interface-wasm-js"
publish = false
version = "1.0.0"
authors = { workspace = true }
repository = { workspace = true }
homepage = { workspace = true }
license = { workspace = true }
edition = { workspace = true }

[package.metadata.docs.rs]
targets = ["x86_64-unknown-linux-gnu"]
all-features = true
rustdoc-args = ["--cfg=docsrs"]

[lib]
crate-type = ["cdylib", "rlib"]

[dependencies]
trezoa-address = { workspace = true }
trezoa-instruction = { workspace = true, features = ["std"] }
trezoa-sdk-wasm-js = { workspace = true }

[target.'cfg(target_arch = "wasm32")'.dependencies]
js-sys = { workspace = true }
wasm-bindgen = { workspace = true }

[lints]
workspace = true
