[package]
name = "trezoa-validator-exit"
description = "Trezoa validator exit handling."
documentation = "https://docs.rs/trezoa-validator-exit"
version = "3.0.0"
authors = { workspace = true }
repository = { workspace = true }
homepage = { workspace = true }
license = { workspace = true }
edition = { workspace = true }

[package.metadata.docs.rs]
targets = ["x86_64-unknown-linux-gnu"]

[lints]
workspace = true
