[package]
name = "trezoa-sdk-ids"
description = "Trezoa SDK IDs"
documentation = "https://docs.rs/trezoa-sdk-ids"
version = "3.1.0"
authors = { workspace = true }
repository = { workspace = true }
homepage = { workspace = true }
license = { workspace = true }
edition = { workspace = true }

[package.metadata.docs.rs]
targets = ["x86_64-unknown-linux-gnu"]

[dependencies]
trezoa-address = { workspace = true, features = ["decode"] }

[lints]
workspace = true
